* {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100%;
  width: 95vw;
  font-family: "Montserrat", sans-serif;
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
